@import url(http://fonts.googleapis.com/css?family=Raleway);
.navbar {
  height: 80px;
  background-color: #FFF !important;
  border: none;  
  z-index: 100;
  transition: background-color 1s ease 0s;
  margin-right: 0;
  text-align: right;
  overflow-y: hidden;
  font-family: Raleway, sans-serif;
}

.navbar.solid {
    background-color:  #9e16dd !important;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
}

#logo-parent {
  height: 150px;  
}

.logo {
  width: 300px;
  position: absolute;
}

.logo.solid {
  background-color:  #FFFFFF !important;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}

.nav-menu {
  height: 80px;
}

.nav-link-menu {
  color: #9e16dd !important;
}

.nav-link-menu.solid {
  color: #f3f2f2 !important;
}

.nav-link-menu:hover {
  border-bottom: 3px solid #9e16dd;
}

.nav-link-menu.solid:hover {
  border-bottom: 3px solid #FFF;
}

.active-nav {
  color: #FFF !important;
  background-color: #9e16dd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: bold;
}

.active-nav.solid {
  color: #9e16dd !important;
  background-color: #FFF;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: bold;
}