<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div id="logo-parent">
    <img src="../../assets/images/gvi.png" class="logo">
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto px-5 nav-menu">
      <a class="nav-item nav-link nav-link-menu px-4 margin-top-20 active-nav" href="#home">Home</a>
      <a class="nav-item nav-link nav-link-menu px-4 margin-top-20" href="#portfolio">Portfolio</a>
      <a class="nav-item nav-link nav-link-menu px-4 margin-top-20" href="#projects">Projects</a>
      <a class="nav-item nav-link nav-link-menu px-4 margin-top-20" href="#users">Users</a>
    </div>
  </div>
</nav>