.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.sliderHeight {
    height: 100vh;
}

.captionFix1 {
  bottom: 15%;
  border-radius: 36px 36px 36px 36px;
  -moz-border-radius: 36px 36px 36px 36px;
  -webkit-border-radius: 36px 36px 36px 36px;
  /* background-color: rgba(243,242,242,0.2); */
  background-color: rgba(44,44,44,0.7);
  /* border: 3px solid #2c2c2c; */
  border: 3px solid #f3f2f2;
}

.captionFix2 {
  bottom: 26%;
  border-radius: 36px 36px 36px 36px;
  -moz-border-radius: 36px 36px 36px 36px;
  -webkit-border-radius: 36px 36px 36px 36px;
  /* background-color: rgba(243,242,242,0.2); */
  background-color: rgba(44,44,44,0.7);
  /* border: 3px solid #2c2c2c; */
  border: 3px solid #f3f2f2;
}

.captionFix3 {
  bottom: 12%;
  border-radius: 36px 36px 36px 36px;
  -moz-border-radius: 36px 36px 36px 36px;
  -webkit-border-radius: 36px 36px 36px 36px;
  /* background-color: rgba(243,242,242,0.2); */
  background-color: rgba(44,44,44,0.7);
  /* border: 3px solid #2c2c2c; */
  border: 3px solid #f3f2f2;
}

.captionFix4 {
  bottom: 29%;
  border-radius: 36px 36px 36px 36px;
  -moz-border-radius: 36px 36px 36px 36px;
  -webkit-border-radius: 36px 36px 36px 36px;
  /* background-color: rgba(243,242,242,0.2); */
  background-color: rgba(44,44,44,0.7);
  /* border: 3px solid #2c2c2c; */
  border: 3px solid #f3f2f2;
}

.modal-img {
  width:100%;
}

.card{
  box-shadow:2px 2px 20px rgba(0,0,0,0.3); border:none; margin-bottom:30px;
}
.card:hover{
  transform: scale(1.05);
  transition: all 1s ease;
  z-index: 999;
}

.badge-box i{
  background:#006EFF; color:#fff; border-radius:50%;  width:50px; height:50px; line-height:50px; text-align:center; font-size:20px;
}

.height-fix{
  height:455px; overflow:hidden;
}

.social-box i {
  border:1px solid #006EFF; color:#006EFF; width:30px; height:30px; border-radius:50%;line-height:30px;
}

.social-box i:hover{
  background:#DFC717; color:#fff;
}

.social-box a{margin: 0 5px;}

.profilePicture {
  width: 138px;
}

.custom-select{
  height: 100% !important;
}

.portfolio-image {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  opacity: 1;
}

.titleSection {
  color: #9e16dd;
  text-align: center;
}

.section-css {
  border-radius: 29px 29px 29px 29px;
  -moz-border-radius: 29px 29px 29px 29px;
  -webkit-border-radius: 29px 29px 29px 29px;
  border: 3px solid #2c2c2c;
}

.button-width{
  width: 35% !important;
  margin-right: 20px;
}