<div class="container-fluid px-0" id="home">
    <div id="sliderHome" class="carousel slide" data-ride="carousel" data-interval="3000" >
        <ol class="carousel-indicators">
            <li data-target="#sliderHome" data-slide-to="0" class="active"></li>
            <li data-target="#sliderHome" data-slide-to="1"></li>
            <li data-target="#sliderHome" data-slide-to="2"></li>
            <li data-target="#sliderHome" data-slide-to="3"></li>
          </ol>
        <div class="carousel-inner sliderHeight">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../../assets/images/slider-5.jpg" alt="First slide">
            <div class="carousel-caption captionFix1 d-none d-md-block">
                <h4>Petronas Twin Towers</h4>
                <p>Kuala Lumpur, Malaysia</p>
                <p>According to the Council on Tall Buildings and Urban Habitat (CTBUH)'s official definition and ranking, they were the tallest buildings in the world from 1998 to 2004 and remain the tallest twin towers in the world</p>
              </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/images/slider-6.jpg" alt="Second slide">
            <div class="carousel-caption captionFix2 d-none d-md-block">
                <h4>Burj Khalifa</h4>
                <p>Dubai, United Arab Emirates.</p>
                <p>The building was originally named Burj Dubai but was renamed in honour of the ruler of Abu Dhabi and president of the United Arab Emirates, Khalifa bin Zayed Al Nahyan; Abu Dhabi and the UAE government lent Dubai money to pay its debts. The building broke numerous height records, including its designation as the tallest building in the world</p>
              </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/images/slider-10.jpg" alt="Third slide">
            <div class="carousel-caption captionFix3 d-none d-md-block">
                <h4>Commerzbank Tower</h4>
                <p>Frankfurt, Germany</p>
                <p> It is the tallest building in Frankfurt and the tallest building in Germany. It had been the tallest building in Europe from its completion in 1997 until 2003 when it was surpassed by the Triumph-Palace in Moscow. The Commerzbank Tower is only two metres taller than the Messeturm, which is also located in Frankfurt.</p>
              </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/images/slider-9.jpg" alt="Fourth slide">
            <div class="carousel-caption captionFix4 d-none d-md-block">
                <h4>Maastoren</h4>
                <p>Rotterdam, Netherlands</p>
                <p>The Maastoren (Dutch for Meuse Tower) is with its height of 165 metres (541 feet) the tallest building in the Netherlands. The office building is situated on the bank of the Nieuwe Maas, after which the building is named, in the neighborhood Kop van Zuid in the South Holland city of Rotterdam. </p>
              </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#sliderHome" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#sliderHome" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
</div>

<div class="container-fluid titleSection margin-bottom-40" id="portfolio">
  <div class="row justify-content-md-center">
    <div class="col-lg-9 margin-top-60 titleSection">
      <h1 class="margin-top-60">PORTFOLIO</h1>
      <p class="color-bl">The projects featured on this section represent a selection of our extensive global portfolio. For more information on additional GVI projects, please contact us.</p>
    </div>
  </div>
  <div class="row justify-content-md-center filter-button-group" role="group" aria-label="filterImages">
    <div class="col col-lg-3">
        <button type="button" class="btn btn-block btn-default is-checked" ng-click="filterImage(1)">All</button>
    </div>
    <div class="col col-lg-3">
        <button type="button" class="btn btn-block btn-default is-checked" ng-click="filterImage(2)">Hotel & Resorts</button>
      </div>
    <div class="col col-lg-3">
        <button type="button" class="btn btn-block btn-default is-checked" ng-click="filterImage(3)">City & Lifestyle</button>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-lg-11">
      <div class="row justify-content-md-center margin-top-30">
    
        <div class="col-lg-4 margin-top-10" ng-show="filter1">          
          <img class="img-thumbnail pointer portfolio-image img-fluid" ng-src="../../assets/images/portfolio-1.jpg" alt="Venice beach, California." ng-click="showModal($event.currentTarget)" >        
        </div>
    
        <div class="col-lg-4 margin-top-10" ng-show="filter1">          
          <img class="img-thumbnail pointer portfolio-image img-fluid" ng-src="../../assets/images/portfolio-2.jpg" ng-click="showModal($event.currentTarget)" >        
        </div>
    
        <div class="col-lg-4 margin-top-10" ng-show="filter2">            
            <img class="img-thumbnail pointer portfolio-image img-fluid" ng-src="../../assets/images/portfolio-3.jpg" ng-click="showModal($event.currentTarget)" >          
        </div>              

        <div class="col-lg-4 margin-top-10" ng-show="filter2">            
            <img class="img-thumbnail pointer portfolio-image img-fluid" ng-src="../../assets/images/portfolio-4.jpg" ng-click="showModal($event.currentTarget)" >          
        </div>
    
        <div class="col-lg-4 margin-top-10" ng-show="filter2">            
            <img class="img-thumbnail pointer portfolio-image img-fluid" ng-src="../../assets/images/portfolio-5.jpg" ng-click="showModal($event.currentTarget)" >          
        </div>
    
        <div class="col-lg-4 margin-top-10" ng-show="filter2">            
            <img class="img-thumbnail pointer portfolio-image img-fluid" ng-src="../../assets/images/portfolio-6.jpg" ng-click="showModal($event.currentTarget)" >          
        </div>                
        
        <div class="col-lg-4 margin-top-10" ng-show="filter2">            
            <img class="img-thumbnail pointer portfolio-image img-fluid" ng-src="../../assets/images/portfolio-7.jpg" alt="" ng-click="showModal($event.currentTarget)" >          
        </div>
    
        <div class="col-lg-4 margin-top-10" ng-show="filter2">            
            <img class="img-thumbnail pointer portfolio-image img-fluid" ng-src="../../assets/images/portfolio-8.jpg" alt="" ng-click="showModal($event.currentTarget)" >          
        </div>
    
        <div class="col-lg-4 margin-top-10" ng-show="filter1">            
            <img class="img-thumbnail pointer portfolio-image img-fluid" ng-src="../../assets/images/portfolio-9.jpg" alt="" ng-click="showModal($event.currentTarget)" >          
        </div>

        <div class="col-lg-4 margin-top-10" ng-show="filter1">            
            <img class="img-thumbnail pointer portfolio-image img-fluid" ng-src="../../assets/images/portfolio-10.jpg" alt="" ng-click="showModal($event.currentTarget)" >          
        </div>
    
        <div class="col-lg-4 margin-top-10" ng-show="filter1">            
            <img class="img-thumbnail pointer portfolio-image img-fluid" ng-src="../../assets/images/portfolio-11.jpg" alt="" ng-click="showModal($event.currentTarget)" >          
        </div>
    
        <div class="col-lg-4 margin-top-10" ng-show="filter1">            
            <img class="img-thumbnail pointer portfolio-image img-fluid" ng-src="../../assets/images/portfolio-12.jpg" alt="" ng-click="showModal($event.currentTarget)" >          
        </div>
      </div>

      <div class="modal fade bd-example-modal-lg" id="imageModal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <img class="modal-img" ng-src={{image}} />
              </div>            
            </div>
          </div>
      </div>   

    </div>
  </div>

</div>

<div class="container-fluid bg-gray-gvi" id="projects">
  <div class="row justify-content-md-center">
    <div class="col-lg-9 margin-top-10 titleSection">
      <h1 class="margin-top-60">PROJECTS</h1>
      <p class="color-bl">The projects featured on this section represent our most proude and amazing works.</p>
    </div>
  </div>
  <div class="row justify-content-md-center padding-top-40 ">
    <div class="col-lg-3">
      <div class="card">
          <img class="card-img-top" src="https://megaricos.com/wp-content/uploads/2016/06/agora-garden-tower1.jpg" alt="Card image cap">
          <div class="card-body text-center">            
              <h4 class="card-title">Agora Garden Tower, Taipei</h4>
              <p class="card-text">The Agora Garden Tower is a 20-story luxury building that is eco-friednly in every sense imaginable with gardens on each floor. nspired by the double-helix shape of DNA, we are sure you would have seen nothing like it anywhere else. A shape that is twisting from bottom to top, the awe-inspiring design of this building makes jaws regularly drop in amazement, the building seemingly appearing to rotate 90 degrees along its profile as you move from bottom to top.</p>
              <span class="social-box">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-dribbble"></i></a>
                  <a href="#"><i class="fa fa-behance"></i></a>
              </span>
            </div>
      </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <img class="card-img-top" src="https://megaricos.com/wp-content/uploads/2016/06/khazar-islands1.jpg" alt="Card image cap">
            <div class="card-body text-center">              
                <h4 class="card-title">Khazar Islands project, Azerbaijan</h4>
                <p class="card-text">The Khazar Islands project is a mega venture being developed on 41 artificial islands 25 kms from Baku, Azerbaijan in the Caspian Sea (the furthest island is located 7 kms from shore). Development is planned to occur over 2000 hectares with high-rises in several islands and a truly audacious plan to have bridges to connect built-up areas. Once complete, the Khazar Islands are set to be the emblem of Azerbaijan’s development with the centrepiece of the project being the world’s tallest tower (at that time) – The Azerbaijan Tower.</p>
                <span class="social-box">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                  </span>
                </div>
              </div>
            </div>
            
            <div class="col-lg-3">
              <div class="card">
                <img class="card-img-top" src="https://megaricos.com/wp-content/uploads/2016/06/forest-city2.jpg" alt="Card image cap">
                <div class="card-body text-center">                
                  <h4 class="card-title">Forest City, Johor, Malaysia</h4>
                  <p class="card-text">Forest City is one of the biggest land reclamation projects in the world, seeking to build 4 new islands from 1400 hectares of reclaimed land in a bay between Malaysia and Singapore. The project is being executed by Country Garden Pacific View and is projected to house up to 700,000 residents after about 20 years of construction. Forest City is a work-live-play integrated zone designed to support about 220,000 jobs in finance, technology and bio-technology.</p>
                  <span class="social-box">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-dribbble"></i></a>
                      <a href="#"><i class="fa fa-behance"></i></a>
                  </span>
                </div>
          </div>
        </div>

  </div>
</div>

<div class="container-fluid titleSection" id="users" style="height: 100vh;">
    <div class="row justify-content-md-center">
      <div class="col-lg-9 margin-top-60 titleSection">
        <h1 class="margin-top-60">USERS</h1>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-lg-3 offset-lg-1">
          <select multiple class="custom-select" ng-model="userSelected" ng-change="searchUser()">     
              <option value="" disabled selected>Select a user...</option>         
              <option ng-repeat="user in users" value="{{user.id+12}}">{{user.first_name}} {{user.last_name}}</option>
              <option ng-repeat="user in users" value="{{user.id+24}}">{{user.first_name}} {{user.last_name}}</option>
              <option ng-repeat="user in users" value="{{user.id+36}}">{{user.first_name}} {{user.last_name}}</option>  
              <option ng-repeat="user in users" value="{{user.id+48}}">{{user.first_name}} {{user.last_name}}</option>                
            </select>
      </div>
      <div class="col-lg-8">
        <div class="row justify-content-lg-center margin-bottom-30">
          <div class="col-lg-6">
              <img ng-src="{{user.profilePicture}}" alt="..." class="img-thumbnail profilePicture">
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-lg-9">
              <div class="input-group mb-3">
                <input type="hidden" ng-model="user.id">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">First Name</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" ng-model="user.firstName">
              </div>                
          </div>
          <div class="col-lg-9">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Last Name</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" ng-model="user.lastName">
              </div>                
          </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-lg-9">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Date</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" ng-model="user.date">
                </div>                
            </div>
            <div class="col-lg-9">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Favorite Color</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" ng-model="user.color">
                  <input type="text" class="form-control" ng-style="user.fColor">
                </div>                
            </div>
        </div>

        <div class="row justify-content-lg-center">
            <div class="col-lg-9">
                <button type="button" class="button-width btn btn-outline-primary" ng-click="addUser()">New User</button>
                <button type="button" class="button-width btn btn-outline-success" ng-click="updateUser()">Update User</button>
            </div>
        </div>

      </div>
    </div>
  </div>

          